# python to ignore
__pycache__

# R to ignore
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# Folders with temporary files
results_NCBI/
Compare_results/Results/
in_silico_res_NCBI/

#Folders to ignore
test_theoretical_peptides_outputs/

# Files to ignore
.run_theoretical_peps.sh
.sequences_taxon_NCBI.csv
.sequence_masses.csv
.DS_Store